@import "_colors.scss";

@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Mark Simonson - Proxima Nova Regular.otf");
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura Book BT.ttf");
}
