[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=IN
ST=Uttarakhand
L=Dehradoon
O=Debug-Studios
OU=RandomOrganizationUnit
emailAddress=prajjwaldimri@hotmail.com
CN = localhost
